<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FSRAudioSwitcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <FSRAudioSwitcher.Properties.Settings>
            <setting name="speakersName" serializeAs="String">
                <value>Lautsprecher</value>
            </setting>
            <setting name="headphonesName" serializeAs="String">
                <value>Kopfhörer</value>
            </setting>
            <setting name="comPortName" serializeAs="String">
                <value/>
            </setting>
            <setting name="doHandleSwitching" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="switchingThreshold" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="nirCmdExecutable" serializeAs="String">
                <value/>
            </setting>
            <setting name="speakersID" serializeAs="String">
                <value/>
            </setting>
            <setting name="headphonesID" serializeAs="String">
                <value/>
            </setting>
            <setting name="useVoiceMeeter" serializeAs="String">
                <value>True</value>
            </setting>
        </FSRAudioSwitcher.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
